<div class="container">
  <section id="my-profile">
    {% include profile.html %}
  </section>

  <section id="my-timeline">
    <h2>TIMELINE</h2>
    <p>My story so far.</p>
    <div class="timeline">
      <div class="times">
        {% for time in site.timeline %}
          {% include time.html content=time%}
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="my-project">
    <h2>PROJECTS</h2>
    <p>Some of the projects that I have done.</p>
    <div class="projects">
      <div class="row">
        {% for project in site.projects %}
          <div class="col-md-4">
            {% include project.html content=project %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
