<div class="project">
  <div class="main-container">
    <img src="/images/default_project.png" alt="..."
      class="img-thumbnail"
      height="100px" width="100px">
    <h3 class="title">{{ include.content.title }}</h3>
    <ul class="descriptions">
      {% for d in include.content.description %}
        <li class="description">{{ d }}</li>
      {% endfor %}
    </ul>
    <div class="tags" style="display: flex; flex-wrap: wrap;">
      {% for tag in include.content.tags %}
        <div class="tag badge" style="display: initial; margin: 0.2rem;">{{ tag }}</div>
      {% endfor %}
    </div>
  </div>
  <ul class="buttons">
    <li class="button">
      <a href="{{ include.content.view_url }}" class="btn btn-default"
        {% if include.content.view_url == "" %}
          disabled="true"
        {% endif %}
        target="_blank">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>View project</span>
      </a>
    </li>
    <li class="button">
      <a href="{{ include.content.code_url }}" class="btn btn-default"
        {% if include.content.view_url == "" %}
          disabled="true"
        {% endif %}
        target="_blank">
        <i class="fa fa-code" aria-hidden="true"></i>
        <span>View code</span>
      </a>
    </li>
  </ul>
</div>
