$my-navbar-height: 6rem;

#my-navbar {
  height: $my-navbar-height;
}

section {
  padding-top: $my-navbar-height;
  padding-bottom: $my-navbar-height;
}

body {
  font-family: 'Open Sans', sans-serif;
}
