@import "colors";

@mixin shadow-box {
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0.0rem 0.2rem 2.0rem 0.2rem rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
}

@mixin select-box {
  // border: 0.5rem solid rgba(214, 45, 32, 0.8);
  border: 0.5rem solid $red;
}
