@import "colors";
@import "mixins";

.profile {
  padding-top: 10vh;
  height: 100vh;

  .name {
    font-family: 'Open Sans', sans-serif;
    font-size: 7rem;
  }

  .img-thumbnail {
    border-radius: 40%;
  }

  .img-thumbnail:hover {
    @include shadow-box;
    @include select-box;
  }

  .socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    .social {
      flex: initial;
      padding: 1rem;

      .link {
        color: $red;
      }
    }
  }
}
