@import "mixins";

$color-g-g: rgba(0, 135, 68, 1);
$color-g-b: rgba(0, 87, 231, 1);
$color-g-r: rgba(214, 45, 32, 1);
$color-g-y: rgba(214, 45, 32, 1);
$color-g-w: rgba(255, 255, 255, 1);
$color-bg-soft: rgba(240, 240, 240, 1);

.timeline {
  .times {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .time {
      flex: auto;
      display: flex;
      align-items: center;

      .time-badge {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        padding: 1.5rem;
        flex: auto;
        position: absolute;
        border: 0.5rem solid $color-bg-soft;
        background-color: $color-g-w;
        display: flex;
        align-items: center;
        align-content: center;
        z-index: 101;
        left: 4rem;
        transform: translate(-50%, 0);

        .fa {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .content {
        @include shadow-box;
        width: calc(100% - 7rem);
        flex: initial;
        padding: 1rem 3rem;
        margin: 2rem 0 2rem 0;
        margin-left: 7rem;
      }

      .inverted {
      }
    }
  }

  .times:before {
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 0.5rem;
    content: " ";
    background-color: $color-bg-soft;
    left: 4rem;
    z-index: 100;
    transform: translate(-50%, 0);
  }
}

@media (min-width: 700px) {
  .timeline {
    .times {
      .time {
        $offset: 3%;

        .time-badge {
          left: 50%;
          transform: translate(-50%, 0);

          .fa {
          }
        }

        .content {
          margin-left: 50% + $offset;
        }

        .inverted {
          margin-left: 0%;
          margin-right: 50% + $offset;
        }
      }
    }

    .times:before {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
